.filtersContainer {
  background-color: #f8f9fa;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.searchInput {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  transition: border-color 0.3s;
}

.searchInput:focus {
  border-color: #ff4b2b;
  outline: none;
}

.selectInput {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.5rem;
  transition: border-color 0.3s;
}

.selectInput:focus {
  border-color: #ff4b2b;
  outline: none;
}

.searchButton {
  background-color: #ff4b2b;
  color: #fff;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.searchButton:hover {
  background-color: #e04327;
  transform: scale(1.05);
}
